<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XLCycleScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17EA67A61D450DC200C3DFC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17EA67BF1D450DC200C3DFC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17EA67CA1D450DC200C3DFC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
